<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #CCEEFF;
            margin: 0px;
        }

        h1{
            margin: 0px;
            padding: 4px;
        }
        .top {
            text-align: center;
            width: 100%;
            height: 80px;
            background-color: #8dd0f1;
            font-size: large;
            font-family: "Trirong", serif;
            /* margin-top: 0%; */
            font-weight: 100;
        }

        .cont {
            display: flex;
            margin-top: 30px;
        }

        .box1 {
            margin: auto;
            background-color: #7dc1e3;
            height: 300px;
            width: 300px;
            border: 2px solid black;
            border-radius: 20px;
            text-align: center;
            margin-left: 175x;
            box-shadow: 2px 1px 2px 1px;
        }

        .box2 {
            margin: auto;
            background-color: #7dc1e3;
            height: 300px;
            width: 300px;
            border: 2px solid black;
            border-radius: 20px;
            text-align: center;
            box-shadow: 2px 1px 2px 1px;
        }

        #description {
            height: 50px;
            border-radius: 3px;
        }

        #income {
            border-radius: 3px;
        }

        #amount {
            border-radius: 3px;
        }

        table,
        td {
            border: 1px solid black;
            text-align: center;

        }

        td {
            padding: 10px;
            border: 1px solid blue;


        }

        table {
            margin: auto;
            margin-top: 20px;
            width: 80%;
        }
    </style>
</head>

<body>
    <div class="top">
        <H1>PEETY CASH BOOK</H1>
    </div>
    <div class="cont">
        <div class="box1">
            <form action="">
                <p>Income head</p> <input type="text" id="income" placeholder="Enter your income head">
                <p>Amount</p> <input type="text" id="amount" placeholder="Enter your amount">
                <p>Description</p> <input type="text" id="description" placeholder="Enter your description....">
                <br>
                <br>
                <button>SUBMIT</button>
            </form>
        </div>
        <div class="box2">
            <form action="">
                <p>Expense head</p> <input type="text" id="income" placeholder="Enter your expense head">
                <p>Amount</p> <input type="text" id="amount" placeholder="Enter your amount">
                <p>Description</p> <input type="text" id="description" placeholder="Enter your description....">
                <br>
                <br>
                <button>SUBMIT</button>
            </form>
        </div>
    </div>
    <div class="table1">
        <table>
            <tr>
                <td colspan="4"> <b>PETTY CASH BOOK</b></td>
            </tr>
            <tr style="text-align: center;">
                <td colspan="2"><b>DATE</b></td>
                <td colspan="2">15-07-2023</td>

            </tr>
            <tr>
            <tr style="text-align: center;">
                <td colspan="2"><b>OPENING BALANCE</b></td>
                <td colspan="2">1000.00</td>
            </tr>
            <tr>
                <td><b>INCOME HEAD</b></td>
                <td><b>AMOUNT</b></td>
                <td><b>EXPENSE HEAD</b></td>
                <td><b>AMOUNT</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>

</html>