<!DOCTYPE html>
<html>
<head>
    <title>Data Between Dates</title>
</head>
<body>
    <h1>Data Between Dates</h1>
    <form action="/getreport" method="get">
        <label for="date1">Start Date:</label>
        <input type="date" id="date1" name="date1" required>
        <br>
        <label for="date2">End Date:</label>
        <input type="date" id="date2" name="date2" required>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>